[user]
	name = Cem Ulus
	email = github@cemulus.com
	signingkey = ~/.ssh/gh.pub

[core]
    editor = vim
	pager = delta
	excludesfile = ~/.gitignore_global
	
[interactive]
	diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true

[merge]
    conflictstyle = zdiff3

[init]
	defaultBranch = main

[alias]
	aliases = config --get-regexp alias
	s = status -s
	l = log --graph --pretty=oneline --abbrev-commit
	la = log --oneline --decorate --all --graph
	branches = branch --all
	remotes = remote --verbose
	whoami = config user.email
	contrib = shortlog --summary

[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential

[gpg]
	format = ssh
[commit]
	gpgSign = true
[tag]
	gpgSign = true

# [url "ssh://git@github.com/"]
# 	insteadOf = https://github.com/
# test

# [url "git@github.com:"]
# 	insteadOf = https://github.com/
