[user]
	name = Cem Ulus
	email = github@cemulus.com

[core]
	editor = vim
	pager = "diff-so-fancy | less --tabs=4 -RFX --mouse"
	excludesfile = ~/.gitignore_global
	
[interactive]
	diffFilter = "diff-so-fancy --patch"

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[init]
	defaultBranch = main

[alias]
	aliases = config --get-regexp alias
	s = status -s
	l = log --graph --pretty=oneline --abbrev-commit
	la = log --oneline --decorate --all --graph
	branches = branch --all
	remotes = remote --verbose
	whoami = config user.email
	contrib = shortlog --summary

#[url "ssh://git@github.com/"]
#	insteadOf = https://github.com/

#[url "git@github.com:"]
#	insteadOf = https://github.com/
